.body{
    background-color: aquamarine;
    color: bisque;


}
h2{
    font-size: medium;
    color: black;
    margin-bottom: 10px;
    color: blue;

}
.submit{
    background:white;
    padding:30px;
    border-radius:10px;
    width:300px;
    margin-left: 200px;
    box-shadow: 0px 0px 5px;

}
.input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}
.button{
    width:100%;
    padding:10px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
*{
    margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        }
