*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        }
        body{
            background:white;


        }
        header{
        
            color:black;
        background-color: lightgreen;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
        nav a{
            color:black;
            margin-left: 100px;
            text-decoration: none;
            font-weight: bold;
            text-align:center;
            align-items: center;
            overflow: hidden;
            float: left;
            display: block;
            

        }
        nav a:hover{
            background-color:green;
            color:purple;
        }
        section{
            background:none;
            margin: 5px;
            padding: 30px;
            border-radius: 10px;
            color:black;
            
            
        }
        h1{
            text-align: center;
            color:black;
        }
        h2{
            color: black;
            margin-bottom: 10px;
            
        }
        .skills {
            display: inline-block;
            background: fixed;
            color:black;
            padding: 8px 15px;
            margin: 5px;
            border-radius: 20px;
            list-style-type: none;
            
        }

    
        .contact p{
            margin: 10px ;

        }
        footer{
            background-color: black;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
            color: aliceblue;
        }
        h1{
            text-align: center;
            padding-bottom: 10px;
            background-color: lightgreen;
        }
        a{
            text-align: start;
        }
        .box{
            height: 100px;
            width: 200px;
            border-radius: 4px;
            font-size: large;
             font-family: 'Times New Roman', Times, serif;
             text-align: center;
             align-items: center;
             background-color: lightgreen;
        }
        .projects{
            flex:1;
            border-radius: 15px solid;
            padding:15px;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-self: center;
            width: 1000px;
            

        }
        nav{
            background-color: lightgreen;
            align-items: center;
            text-align: center;
            margin-left: 150px;
        }
        

.register{
    background:white;
    padding:30px;
    border-radius:10px;
    width:300px;
    margin-left: 200px;
    box-shadow: 0px 0px 5px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:10px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkgreen;
}

#message{
    text-align:center;
    margin-top:10px;
    color:green;
}