body{
    font-family: Arial, Helvetica, sans-serif;
    background: #eef2f3;
    padding: 40px;
}
h2{
    text-align: center;
}
form{
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
input,select,textarea{
    width:100%;
    padding: 8px;
    margin: 8px 0;
}
button{
    background: #222;
    color: white;
    border: none;
    padding: 10px;
    width:100%;
}