<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
    <h1>My Portfolio</h1>
    <link rel="stylesheet" href="p4.css">
    <script src="p4.js"></script>
    
</head>
<body>
    
    <header>
        
        <nav>
            <a href="#about">About Me</a>
            <a href="#Skills">Skills</a>
            <a href="#Projects">Projects</a>
            <a href="#Contact">Contact me</a>
            <br><br>
        

        </nav>
    </header>
    <section id="about">
        <h2>About me</h2>
        <p>Iam Srijani .I enjoy creating simple and clean websites using HTML,css and Javascript</p>
    </section>
    <section id="skills">
        <h2>Skills</h2>
        <div class="skills">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </div>
    </section>
    
    
        <section id="project" >
    <h2><b>Projects</h2></b>
        <div class="projects">
        <div class="box">
        <h3>Project1</h3><br><br>
        <p>Personal blog</p>
        </div>
        <div class="box" >
        <h3>Project2</h3><br><br>
        
        <p>To-do-app</p>
        </div>
        <div class="box" >
        <h3>Project3</h3><br><br>
        <p>Calculator</p>
        </div>
        </div><br><br><br><br>
    </section>


    <section id="contact" class="contact">
        <h2>Contact me</h2>
        <p>email:sdev@gmail.com</p>
        </section>
        
        <div class="register">
    <h2>Register</h2>

    <input type="text" id="name" placeholder="Enter Name">
    <input type="email" id="email" placeholder="Enter Email">
    <input type="password" id="password" placeholder="Enter Password">

    <button onclick="submitForm()">Submit</button>

    <p id="message"></p>
</div>


    <footer>
        <p>Created by Srijani:)</p>
        </footer>
        
        
</body>
</html>
    
